{% extends "template_main.html" %}



{% block title %}
Dodaj nowy rekord
{% endblock %}




{% block content %}

<br>
<div class="form-wrapper" style="font-size: 22px; font-family: Calibri;">
    <div class="content-section">
        <form method = "POST" action="">
            {{ add_item_form.hidden_tag() }}
            <fieldset class ="form-group">
                <div class ="form-group">
                    {{ add_item_form.name.label(class="form-control-label") }}
                    {{ add_item_form.name(class="form-control form-control-lg") }}
                </div>
                <div class ="form-group">
                    {{ add_item_form.category.label(class="form-control-label") }}
                    {{ add_item_form.category(class="form-control form-control-lg") }}
                </div>
                <div class ="form-group">
                    {{ add_item_form.amount.label(class="form-control-label") }}
                    {{ add_item_form.amount(class="form-control form-control-lg") }}
                </div>
                
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">{{ add_item_form.localization.label(class="form-control-label") }}</label>
                    <select class="custom-select mr-sm-2 dark-select" id="inlineFormCustomSelect" name="localization">
                        <option selected>Wybierz</option>
                        <option value="Magazyn Dół">Magazyn Dół</option>
                        <option value="Magazyn Góra">Magazyn Góra</option>
                        <option value="SP29">SP29</option>
                        <option value="SP26">SP26</option>
                        <option value="SP110">SP110</option>
                    </select>
                    </div>
                    <div class="col-auto my-1">
                    </div>
                </div>
                
                <br>          
                <div class ="form-group">
                    {{ add_item_form.notes.label(class="form-control-label") }}
                    {{ add_item_form.notes(class="form-control form-control-lg") }}
                </div>          
            </fieldset>
            <div class="form-group">
                {{ add_item_form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
</div>


<style>
    .form-wrapper .form-control {
        background-color: #191919;   /* ciemne tło */
        color: #ffffff;              /* jasny tekst */
        border: 1px solid #444;      /* delikatna ramka */
    }

    .form-wrapper .form-control:focus {
        background-color: #333;      /* trochę jaśniejsze przy focusie */
        border-color: #666;
        color: #fff;
    }

    .form-wrapper {
        width: 400px;        /* dowolna szerokość */
        margin: 0 auto;  }    /* centruje poziomo */

    .dark-select {
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #444;
    }

.dark-select option {
    background-color: #1e1e1e;
    color: #ffffff;
    }

.dark-select:focus {
    background-color: #1e1e1e;
    color: #fff;
    border-color: #777;
    box-shadow: none;
    }

</style>

{% endblock content %}
