{% extends "template_main.html" %}

{% block title %}
  Strona Główna
{% endblock %}



{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} mt-3">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


{% block content %}
<div>
</br>
  <p>Spokojnie to tylko drobny projekt programistyczny, w celu usprawnienia działania magazynu i wygodnego zarządzania stanem rzeczy :D</p>
</div>
{% endblock %}
