{% extends "template_main.html" %}

{% block title %}
  Strona Główna
{% endblock %}



{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} mt-3">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


{% block content %}
<div style="font-family: Calibri; font-size: 38px; font-weight: 600; text-align:center;">
<br>
<p>Losowy mega śmieszny mem:</p> 
<img src="{{ meme_url }}" alt="meme" style="max-width: 750px; border-radius: 10px;">

</div>
{% endblock %}
